[submodule "sw/tests/pulp-runtime"]
	path = sw/tests/pulp-runtime
	url = https://github.com/FondazioneChipsIT/pulp-runtime.git
	branch = pr/mbox_cluster_ctrl
[submodule "sw/tests/regression_tests"]
	path = sw/tests/regression_tests
	url = https://github.com/FondazioneChipsIT/regression_tests.git
	branch = scarv-devel
[submodule "sw/tests/pulp-nn-mixed"]
	path = sw/tests/pulp-nn-mixed
	url = https://github.com/FondazioneChipsIT/pulp-nn-mixed.git
	branch = rg_add_runtime_support