[submodule "sw/tests/pulp-runtime"]
	path = sw/tests/pulp-runtime
	url = https://github.com/FondazioneChipsIT/pulp-runtime.git
	branch = add_ot_target
[submodule "sw/tests/regression_tests"]
	path = sw/tests/regression_tests
	url = https://github.com/FondazioneChipsIT/regression_tests.git
	branch = gl/ot_cluster